---
layout: splash
author_profile: false

header:
  overlay_image: assets/images/splash-1280x720-tatravelo.jpg

excerpt: "Wokół Tatr na Rowerze"

intro:
  - excerpt: "Tatry to najwyższe Polskie góry. Niezwykle zatłoczone w sezonie, dają się w podziwiać w ciszy i spokoju z roweru."

features:
  - image_path: assets/images/feature-500x300-2.jpg
    title: "Objedź Tatry rowerem"
    excerpt: "**TaTraVelo** dostarczna kompletnej informacji o podróżowanie wokół tatr na rowerze - w tym na telefon"
    url: /project
  - image_path: assets/images/feature-500x300-3.jpg
    title: "Poznaj krainy podtatrzańskie"
    excerpt: "Wiem, jakie miejsca warto odwiedzić jadąc przez Podhale, Spisz, Liptów i Orawę"
    url: /attractions
  - image_path: assets/images/feature-500x300-4.jpg
    title: "Możemy pomóc"
    excerpt: "Podróże rowerowe to nasza pasja, a Podtarze znamy od podszewki"
    url: /about

empty:
  - exceprt: ""

---

{% include feature_row id="intro" type="center" %}
{% include map %}
{% include feature_row id="empty" %}
{% include feature_row id="features" %}
