---
layout: splash
author_profile: false

header:
   overlay_image: assets/images/pages/home-1280x490.jpg

excerpt: "Find Your Freedom"

intro:
  - excerpt: "TatraVelo. Your cycling adventure around Tatras"

features:
  - image_path: assets/images/features/project-500x300.jpg
    title: "Ride the Tatra loop"
    excerpt: "With TatraVelo you get all the information you need to complete this unique bike challenge and explore the sub-Tatra region."
    url: /project
    btn_label: "More"
    btn_class: "btn--primary"
  - image_path: assets/images/features/highlights-500x300.jpg
    title: "Discover the highlights"
    excerpt: "Rich cultural and historic heritage, amazing views. Discover this Central Europe hidden gem. Check the biggest highlights, some interesting stories and… go!"
    url: /highlights
    btn_label: "More"
    btn_class: "btn--primary"
  - image_path: assets/images/features/contact-500x300.jpg
    title: "We prepare, you ride"
    excerpt: "The best adventures are those unprepared and spontaneous. Nevertheless, you need to know the direction you’re heading towards. And here we are: to show you the paths to set out from."
    url: /about
    btn_label: "More"
    btn_class: "btn--primary"

empty:
  - exceprt: ""

---

{% include feature_row id="intro" type="center" %}
{% include map %}
{% include feature_row id="empty" %}
{% include feature_row id="features" %}
